@use 'reset';
@use 'vars';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

body {
  font-family: sans-serif;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  background: linear-gradient(344deg, rgba(240,240,240,1) 23%, rgba(229, 247, 255, 0.459) 48%, rgba(255,255,255,1) 56%) fixed; 
}
h3{
  font-size: 1.5rem;
  font-weight: 600;
  opacity: 0.6;
  margin: 0 0 0.5rem 0;
  &:hover{
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }
}
